/* =====================================================================
   Base Elements
   ===================================================================== */

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

.dvh-100 {
  height: 100dvh;
}

.wp-block-image:not(.img-fit) img {
  width: 100%;
  height: auto;
}

b { font-weight: 700; }
strong { font-weight: bolder; }

:root{
  --swiper-theme-color: var(--bs-primary);
    --swiper-pagination-bullet-border-radius: var(--bs-border-radius-pill);
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-inactive-opacity: var(--bs-secondary-opacity);
    --bs-form-invalid-color: var(--bs-danger);
    --bs-form-invalid-border-color: var(--bs-danger);
    /* Wp Block Editor */
    --wp-block-font-size: 1rem;
    --wp--preset--font-size--small: 0.5rem;
    --wp--preset--font-size--medium: 1rem;
    --wp--preset--font-size--large: 2.5rem;
    --wp--preset--font-size--x-large: 4rem;
    --bs-nav-link-font-size: 0.9rem;
    @include media-breakpoint-down(md) {
      --wp--preset--font-size--small: 0.25rem;
      --wp--preset--font-size--medium: 0.5rem;
      --wp--preset--font-size--large: 2rem;
      --wp--preset--font-size--x-large: 3rem;
    }
}
[data-bs-theme=light] {
    --bs-theme-color: var(--bs-light);
    --bs-theme-color-rgb: var(--bs-light-rgb);
    --bs-theme-bg: var(--bs-black);
    --bs-theme-bg-rgb: var(--bs-dark-rgb);
}
[data-bs-theme=dark] {
    --bs-theme-color: var(--bs-dark);
    --bs-theme-color-rgb: var(--bs-dark-rgb);
    --bs-theme-bg: var(--bs-white);
    --bs-theme-bg-rgb: var(--bs-white-rgb);
}