/* =====================================================================
   Components
   ===================================================================== */

/* Preloader */
.site-loader {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(var(--bs-black-rgb), 0.9);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.6s ease, visibility 0.6s ease;

  .img-logo { width: 80%; margin-bottom: 1rem; height: auto; }
}

/* Header */
#menu-logo-head .logo {
  height: 40px;
  @include media-breakpoint-down(md) { height: 20px; }
}

#site-header {
  backdrop-filter: blur(10px);
  img.custom-logo {
    width: auto;
    height: 100px;
    @include media-breakpoint-down(md) { height: auto; width: 60%; }
  }
  a.custom-logo-link { display: inline-block; width: 151px; }
  div[class^="col-"] { z-index: 2; }

  &::after {
    content: '';
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(180deg, rgba(var(--bs-light-rgb), 0.6) 0%, rgba(var(--bs-light-rgb), 0) 100%);
    z-index: 1;
  }

  @include media-breakpoint-down(md) {
    .navbar-collapse {
      background: rgba(var(--bs-light-rgb), 0.8);
      backdrop-filter: blur(10px);
      position: fixed; left: 0; right: 0;
      padding: 1rem 2rem; width: 100%; text-align: center;
      top: calc(50px + 0.5rem + 2rem);
      ul { position: relative; z-index: 2; }
      &::after {
        content: '';
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        background: linear-gradient(180deg, rgba(var(--bs-light-rgb), 0.6) 0%, rgba(var(--bs-light-rgb), 0) 100%);
        z-index: 1;
      }
    }
  }
}

/* Header override (mobile) */
@include media-breakpoint-down(md) {
  #site-header .navbar-collapse { background: rgba(var(--bs-dark-rgb), .9); }
}

/* Navigation */
.nav {
  .logo {
    height: 50px;
    @include media-breakpoint-down(md) { height: 30px; }
  }
}
.nav-link {
  text-shadow: 1px 1px 3px var(--bs-dark);
}

/* Cards */
.card { 
  overflow: hidden; 
  @include media-breakpoint-down(md) {
    .card-img-top {
      min-height: 200px;
      object-fit: cover;
    }
  }
  .card-body{
    background-color: var(--bs-body-bg);
  }
  --bs-card-color: var(--bs-body-color);
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-title-color: var(--bs-body-color);
}

.toast.cf7-field-toast{
  z-index: 10 !important;
  .toast-body{
    pointer-events: none;
  }
}

/* Image gradient overlay */
.img-gradient {
  position: relative;
  overflow: hidden;
  h2,p,div { position: relative; z-index: 2; }
  &::after {
    content: '';
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.6) 0%, rgba(var(--bs-body-bg-rgb), 0) 100%);
    pointer-events: none;
    z-index: 1;
  }
}

/* Lists */
.list-group-unstyled {
  border-radius: 0;
  &>.list-group-item {
    border-width: 0 0 0;
    --bs-list-group-item-padding-x: 0;
    background-color: transparent;
  }
}

.list-group-numbered.list-dots>.list-group-item:before {
  background-color: var(--bs-primary);
  border-radius: var(--bs-border-radius-pill);
  font-size: 0.8rem;
  width: 1.5rem; height: 1.5rem;
  display: inline-block; line-height: 2; text-align: center;
  margin-right: 1rem;
  content: counters(section, ".");
}




/* Footer */
footer {
  .footer-logo, .footer-logo-dark { height: 40px; @include media-breakpoint-down(md) { height: 20px; } }
  .nav-link { --bs-nav-link-padding-x: 0; --bs-nav-link-padding-y: 0; }
}

[data-bs-theme=light] {
  footer { 
    color: var(--bs-dark); background-color: rgba(var(--bs-white-rgb), 0.8);
    .footer-logo-dark {
      display: none;
    }
    .footer-logo {
      display: inline;
    }
  }
}

[data-bs-theme=dark] {
  footer { 
    color: var(--bs-light); background-color: rgba(var(--bs-black-rgb), 0.8);
    .footer-logo {
      display: none;
    }
    .footer-logo-dark {
      display: inline;
    }
  }
}
/* Legal */
.legal { font-size: 0.8rem; line-height: 1.4; }
