/* =====================================================================
   Animations & Effects
   ===================================================================== */

@keyframes spinner {
  to { transform: rotate(360deg); }
}

.zoom-hover {
  transform: scale(1);
  transition: all 0.5s ease;
  box-shadow: var(--bs-box-shadow-sm);
  &:hover { 
    transform: scale(1.01);
    box-shadow: var(--bs-box-shadow);
  }
}
