/**
 * Safari Mobile background-attachment: fixed bug fix
 * Safari on iOS/iPadOS has a bug where background-attachment: fixed doesn't work properly
 * This patch forces background-attachment: scroll on Safari mobile only for inline styles
 * 
 * Target: Elements with inline style containing "background-attachment:fixed" (no spaces)
 * Example: <div style="...;background-attachment:fixed;..."></div>
 */

/* Safari Mobile Detection: iPhone, iPad, iPod (max 1024px) */
@media (max-width: 1024px) {
  @supports (-webkit-touch-callout: none) {
    /* Safari on iOS/iPadOS - override background-attachment: fixed with scroll */
    /* Matches inline styles with background-attachment:fixed (no spaces) */
    div[style*="background-attachment:fixed"],
    section[style*="background-attachment:fixed"],
    article[style*="background-attachment:fixed"],
    .container-fluid[style*="background-attachment:fixed"],
    .container[style*="background-attachment:fixed"] {
      background-attachment: scroll !important;
    }
  }
}
