:root{
    --swiper-navigation-sides-offset: -3rem;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-color: var(--bs-primary);
    --swiper-pagination-color: var(--bs-primary);
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-inactive-color: var(--bs-gray-400);
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-top: auto;
    --swiper-pagination-bottom: 10px;
    @include media-breakpoint-down(md) {
        --swiper-navigation-sides-offset: 1rem;
    }
}
.bs-plantas-slider-container {
  position: relative;

  .swiper-3d {
    perspective: 1200px;
  }
  
  .swiper-pagination {
    position: relative;
    margin-top: 1rem;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    margin-top: calc(-1rem - 10px); // Adjust for pagination height
  }
  
  .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 10px);
  }
  
  .swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 10px);
  }
}

.bs-plantas-slider-container{
  .swiper-wrapper{
    .card-img-top{
      img{
        max-height: 600px;
        object-fit: contain;
        @include media-breakpoint-down(md) {
          max-height: 250px;
        }
      }
    }
  }
}
.swiper{
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  article.card{
    backdrop-filter: blur(4px);
    @include media-breakpoint-up(md) {
      background-color: inherit !important;
    }    
    @include media-breakpoint-down(md) {
      background-color: rgba(var(--bs-dark-rgb), 0.95) !important;
    }
  }
}
/* 3D Effect Styles */
/* se remueve por incompatibilidad con Firefox
.swiper-3d .swiper-slide{
  filter: blur(7px);
  @include media-breakpoint-down(md) {
    filter: blur(3px);
  }
  transition: all 0.3s ease;
  &.swiper-slide-active{
    filter: blur(0);
  }
}*/