@import "bootstrap/scss/bootstrap";
@import "swiper/css";

a{
  color: var(--color-primary);
  text-decoration: none;
}
.wp-block-image img{
  width: 100%;
  height: auto;
}
#site-header{
    backdrop-filter: blur(10px);
}
.img-gradient{
    position: relative;
    overflow: hidden;
    h2,p,div{
      position: relative;
      z-index: 2;
    }
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.6) 0%, rgba(var(--bs-body-bg-rgb), 0) 100%);
        pointer-events: none;
        z-index: 1;
    }
}