/* =====================================================================
   Vendor Imports
   ===================================================================== */
@import "bootstrap/scss/bootstrap";
@import "cf7";
@import "swiper/swiper-bundle.css"; // Un solo import con todo
@import "swiper";
@import "parallax";
@import "safari-bg-fix";
@import "../../blocks/blocks-frontend";

/* =====================================================================
   Custom Partials
   ===================================================================== */
@import "base";
@import "utilities";
@import "components";
@import "backgrounds";
@import "effects";